@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  body {
    overflow-x: hidden;
  }
  p {
    @apply my-1;
  }
}

/* menu styles */
#toogle-button:checked ~ #toogle #close { display: block; }
#toogle-button:checked ~ #toogle #open { display: none; }
#toogle-button:checked ~ #overlay { visibility: visible; backdrop-filter: blur(2px); } 
#toogle-button:checked ~ #navigation { transform: translateX(0); }
#navigation { overflow-y: auto; transition: 0.3s transform; }
